<!DOCTYPE html>
<html>
<head>
  <title>Hoerburger</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- fonts specified here -->
  <link href='https://fonts.googleapis.com/css?family=Handlee|Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>
<div id="content">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>